.mat-stepper-horizontal {
  margin-top: 8px;
  background-color:green;

}

.mat-form-field {
  margin-top: 16px;
}

 table {
   width: 20%;
 }

 .colunas {
   -webkit-column-count: 2; /* Chrome, Safari, Opera */
   -moz-column-count: 2; /* Firefox */
   column-count: 2;
   width: 30%;
   margin-top: 2%;
 }

 .colunas2 {
   -webkit-column-count: 3; /* Chrome, Safari, Opera */
   -moz-column-count: 3; /* Firefox */
   column-count: 3;
   width: 40%;
 }

  .tabela{
    float: center;
  }
  .demo-table {
    width: 30%;
  }

  .mat-column-demo-position {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
  }

  .mat-column-demo-name {
    padding-left: 16px;
    font-size: 20px;
  }

  .mat-column-demo-weight {
    font-style: italic;
  }

  .mat-column-demo-symbol {
    width: 32px;
    text-align: center;
    font-weight: bold;
  }
